        /*-------client home page-------*/
        *{
            max-width: 100%;
            max-height: 100%;
            box-sizing: border-box;


        }

        body {
            margin: 0;
            padding: 0;
            background-image: url(pictures/background2.jpg);
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
            overflow-x: hidden;
            backdrop-filter: blur(2vh);
            z-index: 1;
            font-family: "Domaine Sans Fine Regular Regular";

        }
        /* navigation bar */

        .logo {
            display: flex;
        }

        .logo img {
            width: 150px;
            height: 150px;
            padding-right: 0;
            margin-right: 0;
        }

        .nav{
            position: relative;
            background-color: #5c6a73; 
            box-shadow:0vh 0.4vh 1vh #f7f0f0;
            border: #f7f0f0;
            border-bottom-left-radius:10vh;
            border-bottom-right-radius:10vh;
            width: 100%;
            padding: 0;
            margin: 0;

        }



        /* client homepage */

        .welcome-note {
            color: #fff;
            padding: 20px;
            text-align: left;
            font-family: "Domaine Sans Fine Regular Regular";

        }

        .client-info {
            margin: 20px;
            padding: 15px;
            border-radius: 10px;
            border-color: #eee7e7;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: rgba(92, 106, 115, 0.37);
            font-family: "Domaine Sans Fine Regular Regular";
            color:#fff;
            font-size: 18px;
            

        }
        h3{
        text-shadow: -1px -1px 0  #5c6a73, 1px -1px 0  #5c6a73, -1px 1px 0  #5c6a73, 1px 1px 0  #5c6a73;
        font-family: "Domaine Sans Fine Regular Regular";

        }

        .logout {
            position: absolute;
            top: 40px;
            right: 40px;
        }

        .logout a {
            display: block; 
        }

        .logout img {
            width: 40px; 
            height: auto; 
        }
        h2 {
            font-size: 30px;
            margin: 0;
            padding: 0;
            color: #ffffff;
            text-shadow: -1px -1px 0  #5c6a73, 1px -1px 0  #5c6a73, -1px 1px 0  #5c6a73, 1px 1px 0  #5c6a73;

            font-family: "Domaine Sans Fine Regular Regular";

        }
        h1 {
            font-size: 40px;
            margin: 0;
            padding: 0;
            text-shadow: -1px -1px 0  #5c6a73, 1px -1px 0  #5c6a73, -1px 1px 0  #5c6a73, 1px 1px 0  #5c6a73;
            font-family: "Domaine Sans Fine Regular Regular";          

        }



        /* Styles for the table */
    

        .designers-table  {
            margin: 20px;
            padding: 15px;
            border-radius: 10px;
            border-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: rgba(92, 106, 115, 0.37);
            font-family: "Domaine Sans Fine Regular Regular";
            color:#fff;
        }

        #designers-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        #designers-table th, #designers-table td {
            border: 2px solid #fff;
            padding: 12px;
            text-align: center;
        }

        #designers-table th {
            background-color: rgba(92, 106, 115, 0.37);
        }

        #designers-table img {
            max-width: 100px;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        a {
            color: #fff;

        }

        /* Styles for the filter section */
        .filter-section {
            position:absolute;
            right: 180px;
            top:520px;
            width: 200px;
            display: flex;
            align-items: left;
            margin-bottom: 20px;
        }

        label {
            margin-right: 10px;
            font-size: 14px;
            color: #ffffff; 
            font-family:"Domaine Sans Fine Regular Regular";
        }

        select {
            padding: 8px;
            font-size: 14px;
            border: 3px solid  #5c6a73; 
            border-radius: 4px;
            font-family:"Domaine Sans Fine Regular Regular";
        }

        /* Styles for the FilterButton */
        .FilterButton {
            background-color: #5c6b73;
            border: none;
            cursor: pointer;
            padding: 10px;
            border-radius: 4px;
            
        }

        /* Hover and Active States */
        .FilterButton:hover {
            size: 20%;
            background-color:#fafaf7;
            color: #5c6a73;
            box-shadow:0vh 0.4vh 1vh #f7f0f0;
            transform: scale(1.1);
        }

        .FilterButton:active {
            size: 20%;
            background-color:#fafaf7;
            color: #5c6a73;
            box-shadow: 0vh 0.4vh 1vh #f7f0f0;
            transform: scale(1.1);}

        /* Styles for the table */
    

        .previous-requests  {
            margin: 20px;
            padding: 15px;
            border-radius: 10px;
            border-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: rgba(92, 106, 115, 0.37);
            font-family: "Domaine Sans Fine Regular Regular";
            color:#fff;
        }

        #consultation-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        #consultation-table th, #consultation-table td {
            border: 2px solid #fff;
            padding: 12px;
            text-align: center;
        }

        #consultation-table th {
            background-color: rgba(92, 106, 115, 0.37);
        }

        #dconsultation-table img {
            max-width: 100px;
            height: auto;
            display: block;
            margin: 0 auto;
        }


        /* Footer styling */
        footer {
            color: #ffffff ;
            padding: 10px 0;
            text-align: center;
            background-color: #5c6a73;
            backdrop-filter: blur(2px);
            box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
        }

        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer-content p {
            font-size: 18px;
            font-family: "Domaine Sans Fine Regular Regular";
            margin-bottom: 10px;
            font-weight: bold;
        }

        .contact-link {
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
            display: flex;
            align-items: center;
        }

        .contact-link i {
            margin-right: 8px;
        }

        .contact-link:hover {
            text-decoration: underline;
            color: #f5f8fa;
        }

