/*-------Home Page-------*/


.nav{
  position: relative;
  background-color: #5c6a73; 
  box-shadow:0vh 0.4vh 1vh #f7f0f0;
  border: #f7f0f0;
  border-bottom-left-radius:10vh;
  border-bottom-right-radius:10vh;
  width: 100%;
  padding: 0;
  margin: 0;

}

/*body style*/
#home-page-body{
  background-image: url(pictures/pic-room1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
   background-size: cover;
  backdrop-filter: blur(2vh); 
  overflow-x: hidden;/* to remove extar space of the screen */
  overflow-y: scroll; /* allow the screen to scroll horizontally */


}

/* Writing next to the logo */

.interior-design{
position: relative;
left: 43vh;
}


/* Home page animations & more */

@keyframes slideInRight {
    from {
      transform: translateX(100vh);
    }

    to {
      transform: translateX(0);
    }
  }

  .container2{
    animation: slideInRight 1.5s ease-in   ;
    display: block;
    padding: 5vh 7vh; 
    margin: 0;
    position: relative;
    bottom:45vh;
    left: 60vh;
    }


    @keyframes slideInLeft {
        from {
          transform: translateX(-40vh);
        }

        to {
          transform: translateX(0);
        }
      }

      #frame{
        animation: slideInLeft 1.5s ease-in   ;
        display: block;
        padding: 5vh 7vh; 
        position: relative;
        top: 1vh;
        left: 50vh;
            }

h1{

    color: #f7f0f0 ;
    text-shadow: 16px 16px 4px rgba(0, 0, 0, 0.5);
    font-family: "Domaine Sans Fine Regular Regular";
    font-size: 15vh;


}


p{
    color: #fbfbfb;
    font-family: "Domaine Sans Fine Regular Regular", "sans-sarif"; 
    font-size: 4vh; 
    font-weight: lighter;
    position: relative;
    top: 2vh;
    left: 30vh;
    padding:0vh ;
    margin: 0vh;

}


/* Home page Buttons */
.btn{
  display: block;
  position: relative;
  bottom: 7vh;
  left: 160vh;

}




#loginBtn, #signUpBtn{
    background-color:#5c6a73;
    font-family: "Domaine Sans Fine Regular Regular", "sans-sarif"; 
    font-size: large;
    color:#fafaf7;
    border-radius: 1vh;
    border-color:#ffffff;
    transition: 0.3s;
}



#loginBtn{
    padding: 1vh 6vh; 
    margin-right: 3vh;

}

#signUpBtn{
    padding: 1vh 5vh;

}

#loginBtn:hover, #loginBtn:active{
  size: 20%;
  background-color:#fafaf7;
  color: #5c6a73;
  box-shadow:0vh 0.4vh 1vh #f7f0f0;
  transform: scale(1.1);


}


#signUpBtn:hover, #signUpBtn:active {
    size: 20%;
    background-color:#fafaf7;
    color: #5c6a73;
    box-shadow:0vh 0.4vh 1vh #f7f0f0;
    transform: scale(1.1);

}

/*-------Sign up-------*/
body {
    margin: 0;
    padding: 0;
    background-image: url(pictures/pic-room1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(2vh);
    overflow-x: hidden;
    overflow-y: scroll;
}

/* navigation bar */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.nav{
    position: relative;
    background-color: #5c6a73; 
    box-shadow:0vh 0.4vh 1vh #f7f0f0;
    border: #f7f0f0;
    border-bottom-left-radius:10vh;
    border-bottom-right-radius:10vh;
    width: 100%;
    padding: 0;
    margin: 0;
  
  }




/* login page */

.box {
    position: absolute;
    top: 10pc;
    right: 15pc;

    border: 1px solid #bc2727;
    padding: 90px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(2, 2, 2, 0.1);
    backdrop-filter: blur(2vh);
    background-color: #555;
    background: rgba(0,0,0,0.5);


}

#welcome {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 20px;
}

#login {
    box-shadow: 0 0 50px rgba(2, 2, 2, 0.1);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    backdrop-filter: blur(2vh);

}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ffffff;
}

h5 {
    margin-bottom: 30px;
    color: #7e7c7c;
    text-shadow: 1px 1px 1px #000;
    text-indent: 40px;
    text-decoration: underline;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: #5c6b73;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    size: 20%;
    background-color:#fafaf7;
    color: #5c6a73;
    box-shadow:0vh 0.4vh 1vh #f7f0f0;
    transform: scale(1.1);
  
  
}

button:active {
    size: 20%;
    background-color:#fafaf7;
    color: #5c6a73;
    box-shadow:0vh 0.4vh 1vh #f7f0f0;
    transform: scale(1.1);

}
