
        /*-------Login-------*/
        *{
            max-width: 100%;
            max-height: 100%;
            box-sizing: border-box;


        }

        body {
            margin: 0;
            padding: 0;
            background-image: url(pictures/pic-room1.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            overflow-x: hidden;
            backdrop-filter: blur(2vh);
            z-index: 1;
            font-family: "Domaine Sans Fine Regular Regular";

        }

        /* navigation bar */

        .logo {
            display: flex;
        }

        .logo img {
            width: 150px;
            height: 150px;
            padding-right: 0;
            margin-right: 0;
        }

        .nav{
            position: relative;
            background-color: #5c6a73; 
            box-shadow:0vh 0.4vh 1vh #f7f0f0;
            border: #f7f0f0;
            border-bottom-left-radius:10vh;
            border-bottom-right-radius:10vh;
            width: 100%;
            padding: 0;
            margin: 0;

        }



        /* login form */

        .form-box {
            position: relative;
            bottom: 5vh;
            left: 55vh;

            border: 1px solid #eee7e7;
            margin-top: 12vh;
            width: 100vh;
            height: 90vh;

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            border-radius: 10px;
            box-shadow: 0 0 15vh rgba(21, 20, 20, 0.1);
            background-color: #f0ebeb;
            background: rgba(64, 63, 63, 0.5);
            z-index: 2;


        }


        #login {
            box-shadow: 0 0 50px rgba(2, 2, 2, 0.1);
            text-align: center;
            width: 90vh;
            height: 130vh;
            font-family: "Domaine Sans Fine Regular Regular";
            


        }

        h2 {
            font-size: 40px;
            margin: 0;
            padding: 0;
            color: #ffffff;
            font-family: "Domaine Sans Fine Regular Regular";

        }

        h5 {
            margin-bottom: 30px;
            color: #f7f3f3;
            text-shadow: 1px 1px 1px #000;
            text-indent: 40px;
            text-decoration: underline;
            cursor: pointer;
            font-family: "Domaine Sans Fine Regular Regular";

            
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            text-align: left;
            margin-bottom: 5px;
            color: #faf8f8;
        }

        input, select {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #000000;
            border-radius: 10px;
            font-family: "Domaine Sans Fine Regular Regular";
        }

        /* buttons style */

        button {
            background-color: #5c6b73;
            color: #fff;
            padding: 10px 15px;
            margin-top: 4vh ;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-family: "Domaine Sans Fine Regular Regular";
            position: relative;
            width: 23vh;
            left: 35vh;
        }

        button:hover {
            size: 20%;
            background-color:#fafaf7;
            color: #5c6a73;
            box-shadow:0vh 0.4vh 1vh #f7f0f0;
            transform: scale(1.1);


        }

        button:active {
            size: 20%;
            background-color:#fafaf7;
            color: #5c6a73;
            box-shadow: 0vh 0.4vh 1vh #f7f0f0;
            transform: scale(1.1);
        }


        /* Footer styling */
        footer {
            color: #535e67;
            padding: 30px 0;
            text-align: center;
            
            box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
        }

        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer-content p {
            font-size: 18px;
            font-family: "Domaine Sans Fine Regular Regular";

            margin-bottom: 15px;
            font-weight: bold;
        }

        .contact-link {
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
            display: flex;
            align-items: center;
        }

        .contact-link i {
            margin-right: 8px;
        }

        .contact-link:hover {
            text-decoration: underline;
            color: #414f5e;
        }

        /* client homepage */

        .welcome-note {
            color: #fff;
            padding: 20px;
            text-align: left;
            font-family: "Domaine Sans Fine Regular Regular";

        }

        .client-info {
            margin: 20px;
            padding: 15px;
            border-radius: 10px;
            border-color: #eee7e7;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: rgba(64, 63, 63, 0.5);
            font-family: "Domaine Sans Fine Regular Regular";
            color:#fff;
            

        }

        .logout {
            position: absolute;
            top: 40px;
            right: 40px;
        }

        .logout a {
            display: block; 
        }

        .logout img {
            width: 40px; 
            height: auto; 
        }


        /* Styles for the table */
    

        .designers-table {
            margin: 20px;
            padding: 15px;
            border-radius: 10px;
            border-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color:  rgba(64, 63, 63, 0.5);
            font-family: "Domaine Sans Fine Regular Regular";
            color:#fff;
        }

        #designers-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        #designers-table th, #designers-table td {
            border: 1px solid #fff;
            padding: 12px;
            text-align: center;
        }

        #designers-table th {
            background-color: rgba(92, 106, 115, 0.37);
        }

        #designers-table img {
            max-width: 100px;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        /* Styles for the filter section */
        .filter-section {
            position:absolute;
            right: 100px;
            width: 200px;
        }

        a {
            color: #fff;

        }
        /* filter button */
        .FilterButton {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            margin-top: 4vh;

            position: relative;
            right: 30px;

        }

        .FilterButton img {
            width: 50px; 
        }

